@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font: 26px/1.5 "Kode Mono", sans-serif;
}
body{
    background-color: #c1bdba;
    padding: 2em;
}
input, label{
    font: inherit;
}
form{
    background-color: #24333c;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.1);
    max-width: 750px ;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}
ul{
    display: flex;
    flex-grow: 1;
}
li{
    list-style: none outside;
    flex-grow: 1;

}
a{
    display: block;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    background-color: #435359;
    text-decoration: none;
    color: #92999e;
}
a.active{
    background-color: #1ab188;
    color: #fff;
}
a:hover, input[type="submit"]:hover{
    background-color: #179a77;
    color: white;
}
fieldset{
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 2em;
    justify-content: space-between;
}
legend{
    display: block;
    width: 100%;
    font-size: 1.55em;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
input{
    background-color: #24333c;
    border: 1px solid #92999e;
    color: #92999e;
    width: 100%;
    padding: 0.1em 0.5em;
}
.field{
    position:relative;

}
.name{
    display: flex;
    gap:1em;
}
input::placeholder{
    opacity: 0;
}
label{
    position: absolute;
    left: 0.5em;
    bottom: 0;
    opacity: 0;
}
.email, .password{
    width: 100%;
}
input[type="submit"]{
    outline: none;
    border: none;
    font-size: 1.55em;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 0.4em;
    text-transform: uppercase;
    background-color: #1ab188;
    color: #fff;
    cursor: pointer;
}
input:focus{
    outline: none;
    border: 1px solid #1ab188;
}
.field:has(input:placeholder-shown) label{
    opacity: 1;
    color: #92999e;
    position: absolute;
    left: 0.5em;
    bottom: 0;
    font-size: 1.05em;
}
.field:has(input:placeholder-shown) label::after{
    content: '*';
    opacity: 1;
    color: #1ab188;
    position: absolute;
    font-size: 1.05em;
    margin: 0 0.1em;
}
