*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font: 15px/1.2 'Lato', sans-serif;
}
body{
    background-color: #eee;
    padding:1.5em
}
h2, p{
    color: #777;
    font-size: 0.8em;
    line-height: 1.5;
}
h2{
    font-weight: bold;
    font-size: 1.2em;
}
h1{
    font-weight: 500;
}
.banner{
    background-color: white;
    box-shadow: 0 0 0.3em 0 rgba(0,0,0,0.1);
    display: flex;
    border-radius: 0.3em;
    padding: 1.5em;
    max-width: 900px;
    gap: 1.5em;
    margin: 0 auto;
}
.media{
    border: 1px solid #ccc;
    background-color: #eee;
    min-width: 30%;
    border-radius: 0.3em;
    
}
.content{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
footer{
    display: flex;
    gap: 1em;
}
footer a{
    text-decoration: none;
    font-size: 0.83em;
    padding: 0.6em 1.2em;
    margin-top: 1em;
}
footer a:first-of-type{
    background-color: #663399;
    color: #fff;
    border-radius: 0.3em;
}
footer a:last-of-type{
    background-color: #eee;
    color: #777;
    border-radius: 0.3em;
}